#/node_modules
#/public/hot
#/storage/*.key
#/vendor
/.idea
#/.vagrant
/public/storage
/public/resources
/public/uploads
/storage/framework
/storage/logs
/config
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log